{% extends "gluco_main/index.html" %}

{% block content %}
{% load widget_tweaks %}

<h1>Add Harshad's Blood Glucose Reading</h1>
<form action="/add_reading" method="post" class="styled-form">
    {% csrf_token %}
    {% for field in form %}
        <div class="field {{ field|field_type }} {{ field|widget_type }} {{ field.html_name }}">
            {{ field.label }}
            {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
<footer>
    <h3>Want To View All Readings? Click <a href="/view_readings">here</a></h3>
</footer>
{% endblock %}