{% extends "gluco_main/index.html" %}

{% block content %}
<body>
  <header>
    <h1>Welcome to Harshad's Blood Glucose Logger</h1>
  </header>

  <main>
    <h2>Blood Sugar Averages (Past Week)</h2>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Average Value (mg/dL)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fasting</td>
          <td id="fasting">{{ averages.fasting_avg }}</td>
        </tr>
        <tr>
          <td>Random</td>
          <td id="beforeMeal">{{ averages.random_avg }}</td>
        </tr>
        <tr>
          <td>PP</td>
          <td id="afterMeal">{{ averages.pp_avg }}</td>
        </tr>
      </tbody>
    </table>
      <div>
          <p>Fasting chart here</p>
          <div id="chart_div">
            <script>
              window.onload = function () {
              var chart= new CanvasJS.Chart("chartContainer", {
              theme: "light2",
              title: {
                text: "Step Count Over a Week"
              },
              axisY: {
                title: "Number of Steps",
                stripLines: [{
                  value: 10000,
                  label: "Goal"
                }]
              },
              data: [{
                type: "line",
                yValueFormatString: "#,### Steps",
                dataPoints: {{ stepcount|safe }}
              }]
            });
            chart.render();
          }
</script>
          </div>
      </div>

    <p><a href="/view_readings">See All Blood Glucose Readings</a></p>
  </main>

</body>

{% endblock %}